body {
    background-color: rgb(40, 40, 45);
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.main-content {
    display: block;
    margin: 50px auto 0 auto;
    width: 670px;
}

.link-item {
    width: 100%;
    background-color: #3B3B40;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 15px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-title{
    padding-left: 12px;
    padding-right: 12px;
}

.page-profilepicture {
    margin-left: auto;
    margin-right: auto;
    width: 115px;
}

.img-profilepicture {
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

.page-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.page-intotext {
    text-align: center;
}

.link {
    text-decoration: none;
}


@media(max-width: 690px) {
    .main-content {
        width: 100%;
    }
}